@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body{
    background-color: rgb(11, 194, 207);
    transition-property: all;
    transition-duration: .5s;
	transition-timing-function: ease; 
}




.settingsContainer{
    position: fixed;
    top: 18%;
    left: 68%;
    transform: translate(-50%,-50%);
    max-width: 420px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition-property: all;
    transition-duration: .5s;
	transition-timing-function: ease;   
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 20%);
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 11;
    /**/
    user-select: none;

}

h1{
    font-family: Titan One,sans-serif;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
}


.settingheaders{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exitSettings{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
  transition-timing-function: ease; 
}

.show-settings {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.setting-ab{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.setting-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.setting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 10px;
}


.settingName{
    font-family: Nunito Sans,sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
}


.cloakContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 10px;
}


.orRow{
    max-width: 330px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 10px;
    font-family: Nunito,sans-serif;
    font-size: 14px;
    color: #999;
}
.orRowcamel{
    height: 1px;
    flex-grow: 1;
    background-color: #999;
}

.orbar{
    height: 1px;
    flex-grow: 1;
    background-color: #999;
}


.cloakContainer{
    border: 2px solid rgba(0,0,0,.17);
    border-radius: 6px;
    max-width: 330px;
    width: 90%;
    height: 45px;
    margin: auto auto 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cloakinput{
    border: none;
    margin: 5px 2px 5px 11px;
    max-width: 290px;
    width: calc(100% - 1px);
    height: 35px;
    font-size: 17px;
    text-align: left;
    font-family: Nunito,sans-serif;
    color: #3a3a3a;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:text;
}

.button{
  border-color: rgba(0,0,0,.17);
  border-style: solid;
  border-radius: 6px;
  background-color: #fff;
  width: 125px;
  height: 45px;
  margin: auto auto 20px;
  color: #999;
  font-size: 22px;
  padding: 0;
  text-align: center; 
  font-family: Nunito,sans-serif;
  outline: none;
  transition: all .2s cubic-bezier(.39,.5,.15,1.36);
}

.button:hover{
  cursor: pointer;
  border: 3px solid #0bc2cf;
}


 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 



.panicdesc{
  padding:0;
  margin: 0;
    font-family: Nunito,sans-serif;
}